<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <style>
        {#        div[class="row"] {#}
        {#            border: 1px dotted rgba(0, 0, 0, 0.5);#}
        {#        }#}
        {##}
        {#        div[class^="col-"] {#}
        {#            background-color: rgba(255, 0, 0, 0.2);#}
        {#        }#}
        body {
            padding-top: 70px;
        }

    </style>

</head>

<body>
<div class="container">
    <div class="row">&nbsp</div>
    <div id="app"></div>
</div>
<div id="particles"></div>

<!-- Attach React components -->
<script type="text/javascript" src="/scripts/main.js"></script>
</body>
